@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-food {
    background-image: url("/image/bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
